/congestion/openpose
/congestion/output_json
/openpose/openpose
/openpose/inputdata
/mysql/db
/releases


/congestion/script/congestion/config/
/recorder/cocovision/config/COCOVision.config

/temp

*__pycache__/